@keyframes crownAnimate {
    from {
        stroke-dashoffset: 71.710251;
    }
    to {
        stroke-dashoffset: 0;
    }
}
@keyframes capeAnimate {
    0% {
        transform: rotate(0deg);
    } 
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes bowAnimate {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    40% {
        transform: rotate(0deg);
    }
    60% {
        transform: rotate(-20deg);
    }
    80% {
        transform: rotate(0deg);
    }
    100% {
        animation-delay: 3s;
    }
}
@keyframes earAnimate {
    20% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    40% {
        transform: rotate3d(0, 0, 1, -3deg);
    }
    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }
    70% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }
    90% {
        transform: rotate3d(0, 0, 1, -3deg);
    }
    95% {
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        animation-delay: .3s;
    }
}