* {
    box-sizing: border-box;
    font: normal 600 1.6rem/1.5 "Open-Sans", sans-serif;
    color: var(--main-bg-color);
}
html {
    font-size: 62.5%;
}
body {
    background-color: var(--main-bg-color);
    &.hidden {
        overflow: hidden;
    }
}
h1, h2, h3, p, ul, li, figure, fieldset {
    margin: 0;
}
ul {
    padding: 0;
    list-style-type: none;
}
span, a {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
}
a {
    text-decoration: none;
}
fieldset {
    border: none;
    padding: 0;
}
.container {
    padding: 0 30px;
    margin: 0 auto;
    max-width: 1460px;
    min-width: 320px;
    width: 100%;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.btn {
    display: block;
    border-color: transparent;
    border-radius: 5px;
    padding: 12px 30px;
    min-width: 215px;
    color: var(--text-color-3);
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s background-color ease;
    &_violet {
        background-color: var(--bg-color-2);
        &:hover {
            background-color: var(--bg-color-3);
        }
    }
    &_black {
        background-color: var(--bg-color-5);
        &:hover {
            background-color: var(--main-bg-color);
        }
    }
}
.field {
    display: block;
    padding: 6.5px 23.5px;
    width: 100%;
    font-weight: 400;
    color: var(--text-color-6);
    border-color: transparent;
    &::placeholder {
        font-weight: inherit;
        font-size: inherit;
        color: inherit;
    } 
    &:focus {
        outline: 2px solid var(--text-color-7);
    }
}