@media screen and (max-width: 991px) {
    .container {
        padding: 0 20px;
    }
    .header {
        padding: 83px 0 250px 0;
        background: linear-gradient(180deg, #4C15A0 34.02%, rgba(76, 21, 160, 0) 98.5%), url("../images/header-bg-mobile.svg");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-size: 100%;
        transform-style: preserve-3d;
        &::after {
            transform: rotate(-15deg) translateZ(-1px);
        }
        &__wrap {
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 auto 27px auto;
            max-width: 420px;
        }
        &__logo {
            order: 1;
            margin: 0 0 18px 0;
        }
        &__text {
            order: 2;
            &:first-child {
                margin-right: 0;
            }
        }
        &__description {
            max-width: 475px;
        }
    }
    .intro {
        padding: 15px 0 55px 0;
        &__date {
            margin-bottom: 18px;
            font-size: 3rem;
        }
        &__text {
            margin-bottom: 18px;
            font-size: 2.7rem;
            font-weight: 400;
            line-height: 1.3;
            & :where(span) {
                color: inherit;
            }
        }
        &__description {
            padding-left: 0;
            font-size: 1.8rem;
            line-height: inherit;
        }
    }
    .programm {
        &__title {
            margin-bottom: 80px;
        }
        &__list {
            grid-template-columns: repeat(1, 1fr);
            gap: 50px;
            &::after {
                content: "";
                @include elipce;
                @include elipce-big;
                left: -50px;
                bottom: 47%;
                width: 211px;
                height: 154px;
                background-color: var(--elipce-color-3);
            }
            &::before {
                left: -50px;
                bottom: 15%;
            }
        }
    }
    .card {
        margin: 0 auto;
        max-width: 600px;
        &__text {
            margin: 20px auto 0 auto;
            max-width: 560px;
        }
    }
    .footer {
        padding: 0 0 120px 0;
        overflow: initial;
        &::before {
            content: none;
        }
    }
}
@media screen and (max-width: 545px) {
    .header {
        padding: 40px 0 130px 0;
        &::before {
            content: none;
        }
        &__wrap {
            margin-bottom: 20px;
            max-width: none;
        }
        &__text {
            font-size: 2.5rem;
        }
        &__logo {
            margin: 0 auto;
            margin-bottom: 15px;
            width: 100%;
            & :where(img) {
                display: block;
                width: 100%;
                height: auto;
            }
        }
        &__description {
            font-size: 1.9rem;
        }
    }
    .intro {
        padding: 40px 0 35px 0;
        &__date {
            margin-bottom: 20px;
            font-size: 2.5rem;
        }
        &__text {
            margin-bottom: 30px;
            font-size: 2rem;
            line-height: inherit;
        }
        &__description {
            font-size: 1.6rem;
        }
    }
    .programm {
        padding-bottom: 50px;
        &__title {
            margin: 0 auto 42px auto;
            max-width: 210px;
            font-size: 2.3rem;
        }
    }
    .card {
        &__img {
            margin-bottom: 18px;
            &-field {
                margin-bottom: 18px;
                max-width: 118px;
                height: 118px;
                &::before, &::after {
                    width: 105px;
                    height: 105px;
                }
                &::before {
                    bottom: 4px;
                }
                &::after {
                    bottom: 2px;
                }
                & :where(img) {
                    width: 100%;
                    max-height: 115px;
                }
            }
            &-icon {
                & :where(path) {
                    stroke-width: 6px;
                }
            }
        }
        &__title {
            padding: 7px;
            font-size: 1.8rem;
            line-height: 2;
        }
        &__text {
            margin-top: 13px;
        }
    }
    [data-speaker="1"] :where(.card__img-field)::before {
        left: 6px;
    }
    [data-speaker="1"] :where(.card__img-field)::after {
        left: 10px;
    }
    [data-speaker="1"] :where(.card__img-icon) {
        top: -24px;
        left: 28px;
        width: 51px;
        height: 51px;
    }
    [data-speaker="1"]::before, [data-speaker="3"]::before {
        content: none;
    }

    [data-speaker="2"] :where(.card__img-field)::before {
        left: 4px;
    }
    [data-speaker="2"] :where(.card__img-field)::after {
        left: 8px;
    }
    [data-speaker="2"] :where(.card__img-icon) {
        top: 50px;
        left: -41px;
        width: 132px;
        height: 60px;
    }
    [data-speaker="3"] :where(.card__img-field)::before {
        left: 2px;
    }
    [data-speaker="3"] :where(.card__img-field)::after {
        left: 6px;
    }
    [data-speaker="3"] :where(.card__img-icon) {
        top: -24px;
        left: 18px;
        width: 51px;
        height: 51px;
    }

    [data-speaker="4"] :where(.card__img-field)::before {
        left: 5px;
    }
    [data-speaker="4"] :where(.card__img-field)::after {
        left: 9px;
    }
    [data-speaker="4"] :where(.card__img-icon) {
        top: -4px;
        left: 16px;
        width: 71px;
        height: 25px;
    }
    .footer {
        padding-bottom: 50px;
    }
    .modal {
        &__window {
            padding: 50px 15px;
        }
        &__title {
            margin-bottom: 30px;
            font-size: 2.4rem;
        }
        &__text {
            margin-bottom: 30px;
        }
    }
    .field {
        padding: 6.5px 15px;
    }
}