@mixin elipce {
    content: '';
    position: absolute;
    display: block;
}
@mixin elipce-small {
    width: 158px;
    height: 55px;
    filter: blur(30px);
}
@mixin elipce-big {
    filter: blur(100px);
    transform: rotate(-15deg);
}
@mixin up {
    position: relative;
    z-index: 1;
}