:root {
    --main-bg-color: #282E41;
    --bg-color-1: #FDE565;
    --bg-color-2: #7E4DFE;
    --bg-color-3: #8C62FC;
    --bg-color-4: rgba(247, 20, 245, 0.8);
    --bg-color-5: #000;
    --bg-color-6: #fff;

    --text-color-1: #282E41;
    --text-color-2: #A89EDE;
    --text-color-3: #fff;
    --text-color-4: #FF00FD;
    --text-color-5: #FDE565;
    --text-color-6:  #090909;
    --text-color-7:  #B7ADEB;
    --text-color-8: #2E2A52;
    
    --error-color: #FF0000;

    --elipce-color-1: #730BA6;
    --elipce-color-2: rgba(80, 54, 240, 0.6);
    --elipce-color-3: #6310A4;
    --elipce-color-4: #8F00FF;
    --elipce-color-5: #FF00FD;

    --tablet-breakpoint: 991px;
    --mobile-breakpoint: 545px;
}